.img-fluid {
    width: 100%;
}

.nav * {
    color: #333;
}

.active {
    font-weight: bold;
}

#overview{
    #userinfo{
        tr td{
            vertical-align: middle;
            &.header{
                padding: 0 1rem;
                white-space: nowrap;
            }
        }
    }
}